<%#
 * File name: saSurvey.ejs
 * Authors:
 * Shawn McLaughlin <shawnmcdev@gmail.com>
 * Joshua Korovesi <joshua.j.korovesi@gmail.com>
 * Site: https://joshawn-opine.herokuapp.com/
 * Description: Short Answers survey page template.
%>
<% include ../partials/header.ejs %>

<div class="container main-content">
    <div class="row text-center">
        <h2>Short Answer Template</h2>
        <h4>By: Username</h4>
    </div>

  <form method="post" class="survey-template">
    <div class="form-group center-block text-center">
        <div>
            <label class="control-label">Question 1: <%= data.survey.questions[0].question %></label>
        </div>
        <div>
        <input type="text" name="q1" placeholder="Answer" required/>
        </div>
    </div>

    <div class="form-group center-block text-center">
        <div>
            <label class="control-label">Question 2: <%= data.survey.questions[1].question %></label>
        </div>
        <div>
        <input type="text" name="q2" placeholder="Answer" required/>
        </div>
    </div>

   <div class="form-group center-block text-center">
        <div>
            <label class="control-label">Question 3: <%= data.survey.questions[2].question %></label>
        </div>
        <div>
        <input type="text" name="q3" placeholder="Answer" required/>
        </div>
    </div>

    <div class="form-group center-block text-center">
        <div>
            <label class="control-label">Question 4: <%= data.survey.questions[3].question %></label>
        </div>
        <div>
        <input type="text" name="q4" placeholder="Answer" required/>
        </div>
    </div>

    <div class="form-group center-block text-center">
        <div>
            <label class="control-label">Question 5: <%= data.survey.questions[4].question %></label>
        </div>
        <div>
        <input type="text" name="q5" placeholder="Answer" required/>
        </div>
    </div>

    <div class="form-group center-block">        
      <div>
            <input type="submit" value="Submit Survey"
            <% if(new Date(data.survey.ends) < Date.now()) { %> title="Survey has ended" disabled <% } %> />
      </div>
    </div>
  </form>
</div>
<% include ../partials/footer.ejs %>